flows_air.json
[{"id":"78d2cf4d.a5d498","type":"tab","label":"Flow1","disabled":false,"info":""},{"id":"1601f9ae.7402ee","type":"tab","label":"Flow 1"},{"id":"3884193f.cf120e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Weather","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":30,"sy":30,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fba958c.a2f8ca","type":"ui_tab","z":"","name":"Weatherflow","icon":"dashboard","order":1},{"id":"7455eba8.572ec4","type":"ui_group","z":"","name":"Humidity","tab":"3fba958c.a2f8ca","order":2,"disp":true,"width":"6"},{"id":"e1e2d909.b481b8","type":"ui_group","z":"","name":"Pressure","tab":"3fba958c.a2f8ca","order":3,"disp":true,"width":"6"},{"id":"7ff01929.cd13c8","type":"ui_group","z":"","name":"Temp","tab":"3fba958c.a2f8ca","order":1,"disp":true,"width":"12"},{"id":"8edaf23e.09b35","type":"ui_group","z":"","name":"Battery Voltages","tab":"36a29921.0a88ce","order":3,"disp":true,"width":"6"},{"id":"ba1441ff.541ca","type":"ui_group","z":"","name":"Wind","tab":"3fba958c.a2f8ca","order":4,"disp":true,"width":"6"},{"id":"185a7bf8.061584","type":"ui_group","z":"","name":"Sun","tab":"3fba958c.a2f8ca","order":5,"disp":true,"width":"6"},{"id":"333b1262.aef01e","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"76467e2e.7f74b","type":"ui_group","z":"","name":"Last Received","tab":"36a29921.0a88ce","order":1,"disp":true,"width":"8"},{"id":"e739772c.116b68","type":"ui_group","z":"","name":"RSSI","tab":"36a29921.0a88ce","order":2,"disp":true,"width":"6"},{"id":"36a29921.0a88ce","type":"ui_tab","z":"","name":"Status","icon":"dashboard","order":2},{"id":"7417d606.da0c98","type":"udp in","z":"78d2cf4d.a5d498","name":"weatherflowBroadcasts","iface":"","port":"50222","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":120,"y":40,"wires":[["24d0713a.165306"]]},{"id":"24d0713a.165306","type":"json","z":"78d2cf4d.a5d498","name":"jsonconverter","pretty":true,"x":140,"y":100,"wires":[["8df37bcb.5484f8"]],"inputLabels":["udpIn"],"outputLabels":["jsonOut"]},{"id":"8df37bcb.5484f8","type":"switch","z":"78d2cf4d.a5d498","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"evt_precip","vt":"str"},{"t":"eq","v":"evt_strike","vt":"str"},{"t":"eq","v":"rapid_wind","vt":"str"},{"t":"eq","v":"obs_air","vt":"str"},{"t":"eq","v":"obs_sky","vt":"str"},{"t":"eq","v":"device_status","vt":"str"},{"t":"eq","v":"hub_status","vt":"str"}],"checkall":"false","outputs":7,"x":130,"y":360,"wires":[["ec00c868.79e568","482b337e.4ada84"],["a667819a.038f08","3ae537db.8927d","657ad768.e8f838","d4c4038d.c31188"],["f4e79de7.b06708","dddcb5b.82125c8","c2a51241.82c05","9acf4c7.453a3b"],["19c89265.b4d156","58c4e61a.cd5c1","ea1a52c3.f5a0b","9678d65a.6ca66","595fd021.3c3798","1bf36169.4c895f","1ae19b08.c65d2d","1a8e8824.557978","3485140a.3b059c","b8e7b281.ba41f"],["2961beff.84c31a","42c1495.e376eb8","712aadfb.c264f4","5d1ab540.3a444c","9710443b.f2a068","b942541b.913998","107fdfd1.c1991","a3b6001e.5dc28","95d3bcfc.5b7ec","ed4fc7be.4c6428"],["742b0a70.3b436c"],["6d1cb1db.d624d8","28c24abb.056f16","32522133.a3fcbe","ee5d514f.97a218","d6afae7.fbdc55"]],"inputLabels":["jsonIn"],"outputLabels":["","","rapidWind","obsAir","obsSky","deviceStatus","hubStatus"]},{"id":"f4e79de7.b06708","type":"debug","z":"78d2cf4d.a5d498","name":"rapid_wind","active":false,"console":"false","complete":"payload","x":970,"y":360,"wires":[]},{"id":"69a5b88c.855ae","type":"debug","z":"78d2cf4d.a5d498","name":"sky_status","active":false,"console":"false","complete":"payload","x":850,"y":1360,"wires":[]},{"id":"8b72d107.5eb658","type":"debug","z":"78d2cf4d.a5d498","name":"air_status","active":false,"console":"false","complete":"payload","x":840,"y":1220,"wires":[]},{"id":"6d1cb1db.d624d8","type":"debug","z":"78d2cf4d.a5d498","name":"hub_status","active":false,"console":"false","complete":"payload","x":170,"y":1180,"wires":[]},{"id":"19c89265.b4d156","type":"debug","z":"78d2cf4d.a5d498","name":"obs_air","active":false,"console":"false","complete":"payload","x":1200,"y":520,"wires":[]},{"id":"2961beff.84c31a","type":"debug","z":"78d2cf4d.a5d498","name":"obs_sky","active":false,"console":"false","complete":"payload","x":620,"y":700,"wires":[]},{"id":"742b0a70.3b436c","type":"switch","z":"78d2cf4d.a5d498","name":"device status","property":"payload.serial_number","propertyType":"msg","rules":[{"t":"cont","v":"AR","vt":"str"},{"t":"cont","v":"SK","vt":"str"}],"checkall":"false","outputs":2,"x":640,"y":1260,"wires":[["8b72d107.5eb658","5616055c.168f6c","f59393d3.adbb78"],["69a5b88c.855ae","49aabf3e.ad8eb","91d97d74.982b6"]],"inputLabels":["deviceStatusIn"],"outputLabels":["airStatus","skyStatus"]},{"id":"dddcb5b.82125c8","type":"function","z":"78d2cf4d.a5d498","name":"convert mps to mph","func":"mph = msg.payload.ob['1'] * 2.23694\nmsg.payload = mph\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":320,"wires":[["2284dc76.164b64","a592b54e.4212f8"]],"outputLabels":["mph"]},{"id":"58c4e61a.cd5c1","type":"function","z":"78d2cf4d.a5d498","name":"obs_air timestamp","func":"currentTime = msg.payload.obs[0][0] * 1000\nvar now = new Date(currentTime).toLocaleString()\nvar airLastTimestamp = global.set(\"now\")\nmsg.payload = now\nreturn msg;","outputs":1,"noerr":0,"x":1235.0000305175781,"y":597.4166927337646,"wires":[["326709e7.3a90c6"]]},{"id":"9678d65a.6ca66","type":"function","z":"78d2cf4d.a5d498","name":"return press mbar","func":"msg.payload = msg.payload.obs[0][1]\nreturn msg;","outputs":1,"noerr":0,"x":1235.0000305175781,"y":637.4166927337646,"wires":[["a36eaf5f.006d7","8105680.28fa698"]]},{"id":"595fd021.3c3798","type":"function","z":"78d2cf4d.a5d498","name":"convert-to-deg-F","func":"var degF = (msg.payload.obs[0][2] * 1.8) + 32\nmsg.payload = degF\nreturn msg;","outputs":1,"noerr":0,"x":1235.0000305175781,"y":677.4166927337646,"wires":[["6a1d133d.6f494c","df866bbd.2f6a88"]]},{"id":"1bf36169.4c895f","type":"function","z":"78d2cf4d.a5d498","name":"return relHumid","func":"msg.payload = msg.payload.obs[0][3]\nreturn msg;","outputs":1,"noerr":0,"x":1225.0000305175781,"y":717.4166927337646,"wires":[["2e8a5782.20b088","a393b9dc.6385f8"]]},{"id":"1ae19b08.c65d2d","type":"function","z":"78d2cf4d.a5d498","name":"return lightning count","func":"msg.payload = msg.payload.obs[0][4]\nreturn msg;","outputs":1,"noerr":0,"x":1245.0000305175781,"y":757.4166927337646,"wires":[["3978e30c.9b62ac"]]},{"id":"1a8e8824.557978","type":"function","z":"78d2cf4d.a5d498","name":"return lightning km","func":"msg.payload = msg.payload.obs[0][5]\nreturn msg;","outputs":1,"noerr":0,"x":1235.0000305175781,"y":797.4166927337646,"wires":[["d99419fb.740a88"]]},{"id":"ea1a52c3.f5a0b","type":"function","z":"78d2cf4d.a5d498","name":"obs_air battery","func":"msg.payload = msg.payload.obs[0][6]\nreturn msg;","outputs":1,"noerr":0,"x":1225.0000305175781,"y":837.4166927337646,"wires":[["a21a9e0.ca83a6","bdc7a524.9627b8"]]},{"id":"3978e30c.9b62ac","type":"debug","z":"78d2cf4d.a5d498","name":"lightningCount","active":false,"console":"false","complete":"payload","x":1445.0000305175781,"y":757.4166927337646,"wires":[]},{"id":"d99419fb.740a88","type":"debug","z":"78d2cf4d.a5d498","name":"lightningKM","active":false,"console":"false","complete":"payload","x":1435.0000305175781,"y":797.4166927337646,"wires":[]},{"id":"a36eaf5f.006d7","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"e1e2d909.b481b8","order":1,"width":0,"height":0,"gtype":"gage","title":"mbar","label":"mbar","format":"{{value | number:1}}","min":"700","max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1410,"y":640,"wires":[]},{"id":"6a1d133d.6f494c","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"7ff01929.cd13c8","order":1,"width":0,"height":0,"gtype":"gage","title":"degF","label":"deg F","format":"{{value | number:1 }}","min":"-10","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":1410,"y":680,"wires":[]},{"id":"2e8a5782.20b088","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"7455eba8.572ec4","order":3,"width":0,"height":0,"gtype":"gage","title":"Percent","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1420,"y":720,"wires":[]},{"id":"a21a9e0.ca83a6","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"8edaf23e.09b35","order":1,"width":0,"height":0,"gtype":"gage","title":"Air","label":"volts","format":"{{value | number:2}}","min":"3","max":"4","colors":["#ca3838","#e6e600","#00b50c"],"seg1":"3.15","seg2":"3.3","x":1410,"y":840,"wires":[]},{"id":"8105680.28fa698","type":"ui_chart","z":"78d2cf4d.a5d498","name":"mbar","group":"e1e2d909.b481b8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1530,"y":640,"wires":[[],[]]},{"id":"df866bbd.2f6a88","type":"ui_chart","z":"78d2cf4d.a5d498","name":"deg F","group":"7ff01929.cd13c8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1530,"y":680,"wires":[[],[]]},{"id":"a393b9dc.6385f8","type":"ui_chart","z":"78d2cf4d.a5d498","name":"Humidity","group":"7455eba8.572ec4","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1580,"y":720,"wires":[[],[]]},{"id":"bdc7a524.9627b8","type":"ui_chart","z":"78d2cf4d.a5d498","name":"Air battery","group":"8edaf23e.09b35","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1550,"y":840,"wires":[[],[]]},{"id":"2284dc76.164b64","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"ba1441ff.541ca","order":1,"width":0,"height":0,"gtype":"gage","title":"last","label":"mph","format":"{{value | number:1}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":1330,"y":320,"wires":[]},{"id":"a592b54e.4212f8","type":"ui_chart","z":"78d2cf4d.a5d498","name":"mph","group":"ba1441ff.541ca","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1190,"y":320,"wires":[[],[]]},{"id":"42c1495.e376eb8","type":"function","z":"78d2cf4d.a5d498","name":"obs_sky battery","func":"msg.payload = msg.payload.obs[0][8]\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":880,"wires":[["9d4593e4.3a864","2623e71.9132918"]]},{"id":"9d4593e4.3a864","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"8edaf23e.09b35","order":3,"width":0,"height":0,"gtype":"gage","title":"Sky","label":"volts","format":"{{value | number:2}}","min":"3","max":"4","colors":["#ca3838","#e6e600","#00b50c"],"seg1":"3.15","seg2":"3.3","x":1010,"y":880,"wires":[]},{"id":"2623e71.9132918","type":"ui_chart","z":"78d2cf4d.a5d498","name":"Sky battery","group":"8edaf23e.09b35","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":880,"wires":[[],[]]},{"id":"712aadfb.c264f4","type":"function","z":"78d2cf4d.a5d498","name":"obs_sky illuminance","func":"msg.payload = msg.payload.obs[0][1]\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":920,"wires":[["34cd2722.d84668","57da4b5d.2ab2b4"]]},{"id":"34cd2722.d84668","type":"ui_chart","z":"78d2cf4d.a5d498","name":"Brightness","group":"185a7bf8.061584","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"120000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":920,"wires":[[],[]]},{"id":"57da4b5d.2ab2b4","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"185a7bf8.061584","order":3,"width":0,"height":0,"gtype":"gage","title":"Brightness","label":"lux","format":"{{value}}","min":0,"max":"120000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":920,"wires":[]},{"id":"5d1ab540.3a444c","type":"function","z":"78d2cf4d.a5d498","name":"obs_sky uv","func":"msg.payload = msg.payload.obs[0][2]\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":960,"wires":[["34425158.7c73be","4c802397.ccc0dc"]]},{"id":"34425158.7c73be","type":"ui_chart","z":"78d2cf4d.a5d498","name":"UV","group":"185a7bf8.061584","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":960,"wires":[[],[]]},{"id":"4c802397.ccc0dc","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"185a7bf8.061584","order":1,"width":0,"height":0,"gtype":"gage","title":"UV","label":"","format":"{{value}}","min":0,"max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"7","seg2":"10","x":1010,"y":960,"wires":[]},{"id":"9710443b.f2a068","type":"function","z":"78d2cf4d.a5d498","name":"obs_sky solar","func":"msg.payload = msg.payload.obs[0][10]\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1000,"wires":[["c8d4ae7.3850a5","56f28f0b.4564a"]]},{"id":"c8d4ae7.3850a5","type":"ui_chart","z":"78d2cf4d.a5d498","name":"solar","group":"185a7bf8.061584","order":6,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"1120","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":1000,"wires":[[],[]]},{"id":"56f28f0b.4564a","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"185a7bf8.061584","order":5,"width":0,"height":0,"gtype":"gage","title":"Solar","label":"W/m^2","format":"{{value}}","min":0,"max":"1120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":1000,"wires":[]},{"id":"b942541b.913998","type":"function","z":"78d2cf4d.a5d498","name":"convert ave to mph","func":"mph = msg.payload.obs[0][5] * 2.23694\nmsg.payload = mph\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1040,"wires":[["c104357b.3aebe8","b3ffcef8.cf7f9"]]},{"id":"c104357b.3aebe8","type":"ui_chart","z":"78d2cf4d.a5d498","name":"ave","group":"ba1441ff.541ca","order":6,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":1040,"wires":[[],[]]},{"id":"b3ffcef8.cf7f9","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"ba1441ff.541ca","order":5,"width":0,"height":0,"gtype":"gage","title":"ave","label":"mph","format":"{{value | number: 1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":1010,"y":1040,"wires":[]},{"id":"107fdfd1.c1991","type":"function","z":"78d2cf4d.a5d498","name":"convert gust to mph","func":"mph = msg.payload.obs[0][6] * 2.23694\nmsg.payload = mph\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1080,"wires":[["f7950c9.50602f","4779b15c.98d8f"]]},{"id":"f7950c9.50602f","type":"ui_chart","z":"78d2cf4d.a5d498","name":"gust","group":"ba1441ff.541ca","order":8,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":1080,"wires":[[],[]]},{"id":"4779b15c.98d8f","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"ba1441ff.541ca","order":7,"width":0,"height":0,"gtype":"gage","title":"gust","label":"mph","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":1010,"y":1080,"wires":[]},{"id":"4c273a3b.3bca84","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"ba1441ff.541ca","order":1,"width":0,"height":0,"gtype":"compass","title":"from","label":"","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1170,"y":400,"wires":[]},{"id":"c2a51241.82c05","type":"function","z":"78d2cf4d.a5d498","name":"obs_sky rapid_wind","func":"msg.payload = msg.payload.ob['2']\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":400,"wires":[["4c273a3b.3bca84"]],"outputLabels":["degrees"]},{"id":"9acf4c7.453a3b","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/obs/rapid_wind","qos":"","retain":"","broker":"333b1262.aef01e","x":1020,"y":280,"wires":[]},{"id":"a3b6001e.5dc28","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/obs/sky","qos":"","retain":"","broker":"333b1262.aef01e","x":660,"y":740,"wires":[]},{"id":"3485140a.3b059c","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/obs/air","qos":"","retain":"","broker":"333b1262.aef01e","x":1240,"y":460,"wires":[]},{"id":"5616055c.168f6c","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/status/air","qos":"","retain":"","broker":"333b1262.aef01e","x":880,"y":1160,"wires":[]},{"id":"49aabf3e.ad8eb","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/status/sky","qos":"","retain":"","broker":"333b1262.aef01e","x":890,"y":1400,"wires":[]},{"id":"28c24abb.056f16","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/status/hub","qos":"","retain":"","broker":"333b1262.aef01e","x":230,"y":1120,"wires":[]},{"id":"95d3bcfc.5b7ec","type":"function","z":"78d2cf4d.a5d498","name":"obs_sky timestamp","func":"currentTime = msg.payload.obs[0][0] * 1000\nvar now = new Date(currentTime).toLocaleString()\nvar skyLastTimestamp = global.set(\"now\")\nmsg.payload = now\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":840,"wires":[["d97a1760.0196b8"]]},{"id":"d97a1760.0196b8","type":"ui_text","z":"78d2cf4d.a5d498","group":"76467e2e.7f74b","order":2,"width":0,"height":0,"name":"","label":"Sky:","format":"{{msg.payload}}","layout":"row-center","x":850,"y":840,"wires":[]},{"id":"326709e7.3a90c6","type":"ui_text","z":"78d2cf4d.a5d498","group":"76467e2e.7f74b","order":1,"width":0,"height":0,"name":"","label":"Air:","format":"{{msg.payload}}","layout":"row-center","x":1410,"y":600,"wires":[]},{"id":"32522133.a3fcbe","type":"function","z":"78d2cf4d.a5d498","name":"hub firmware_revision","func":"msg.payload = msg.payload.firmware_revision\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1220,"wires":[["b119496e.5a0de8"]]},{"id":"b119496e.5a0de8","type":"ui_text","z":"78d2cf4d.a5d498","group":"76467e2e.7f74b","order":6,"width":0,"height":0,"name":"","label":"Hub Firmware:","format":"{{msg.payload}}","layout":"row-center","x":380,"y":1220,"wires":[]},{"id":"b8e7b281.ba41f","type":"function","z":"78d2cf4d.a5d498","name":"air firmware_revision","func":"msg.payload = msg.payload.firmware_revision\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":560,"wires":[["3812ece2.5364a4"]]},{"id":"3812ece2.5364a4","type":"ui_text","z":"78d2cf4d.a5d498","group":"76467e2e.7f74b","order":4,"width":0,"height":0,"name":"","label":"Air Firmware:","format":"{{msg.payload}}","layout":"row-center","x":1440,"y":560,"wires":[]},{"id":"ed4fc7be.4c6428","type":"function","z":"78d2cf4d.a5d498","name":"obs_sky firmware_revision","func":"msg.payload = msg.payload.firmware_revision\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":800,"wires":[["69cfc2d9.551b4c"]]},{"id":"69cfc2d9.551b4c","type":"ui_text","z":"78d2cf4d.a5d498","group":"76467e2e.7f74b","order":5,"width":0,"height":0,"name":"","label":"Sky Firmware:","format":"{{msg.payload}}","layout":"row-center","x":870.6665878295898,"y":797.5833072662354,"wires":[]},{"id":"d3564d40.f1c308","type":"debug","z":"78d2cf4d.a5d498","name":"precip start","active":true,"console":"false","complete":"payload","x":670,"y":20,"wires":[]},{"id":"ec00c868.79e568","type":"function","z":"78d2cf4d.a5d498","name":"precip start localtime","func":"secs_since_epoch = msg.payload.evt[0]\nvar start_time = new Date(secs_since_epoch).toLocaleString()\nmsg.payload = start_time\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":20,"wires":[["d3564d40.f1c308","8f6578c4.311d"]]},{"id":"8f6578c4.311d","type":"ui_text","z":"78d2cf4d.a5d498","group":"76467e2e.7f74b","order":7,"width":0,"height":0,"name":"","label":"Last precip start:","format":"{{msg.payload}}","layout":"row-center","x":890,"y":20,"wires":[]},{"id":"482b337e.4ada84","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/evt/precip","qos":"","retain":"","broker":"333b1262.aef01e","x":450,"y":60,"wires":[]},{"id":"3ae537db.8927d","type":"mqtt out","z":"78d2cf4d.a5d498","name":"","topic":"weatherflow/evt/strike","qos":"","retain":"","broker":"333b1262.aef01e","x":1020,"y":60,"wires":[]},{"id":"b9839fe3.1c9c78","type":"debug","z":"78d2cf4d.a5d498","name":"strike localtime","active":true,"console":"false","complete":"payload","x":1240,"y":120,"wires":[]},{"id":"a667819a.038f08","type":"function","z":"78d2cf4d.a5d498","name":"strike localtime","func":"secs_since_epoch = msg.payload.evt[0]\nvar start_time = new Date(secs_since_epoch).toLocaleString()\nmsg.payload = start_time\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":120,"wires":[["b9839fe3.1c9c78"]]},{"id":"c5d42c82.6eeda","type":"debug","z":"78d2cf4d.a5d498","name":"strike km","active":true,"console":"false","complete":"payload","x":1220,"y":160,"wires":[]},{"id":"657ad768.e8f838","type":"function","z":"78d2cf4d.a5d498","name":"strike km","func":"secs_since_epoch = msg.payload.evt[1]\nvar start_time = new Date(secs_since_epoch).toLocaleString()\nmsg.payload = start_time\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":160,"wires":[["c5d42c82.6eeda"]]},{"id":"601be09.67bbaa","type":"debug","z":"78d2cf4d.a5d498","name":"strike energy","active":true,"console":"false","complete":"payload","x":1230,"y":200,"wires":[]},{"id":"d4c4038d.c31188","type":"function","z":"78d2cf4d.a5d498","name":"strike energy","func":"secs_since_epoch = msg.payload.evt[2]\nvar start_time = new Date(secs_since_epoch).toLocaleString()\nmsg.payload = start_time\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["601be09.67bbaa"]]},{"id":"fae677cb.a7e7b8","type":"ui_chart","z":"78d2cf4d.a5d498","name":"Air RSSI","group":"e739772c.116b68","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1020,"y":1260,"wires":[[],[]]},{"id":"f59393d3.adbb78","type":"function","z":"78d2cf4d.a5d498","name":"get rssi","func":"msg.payload = msg.payload.rssi\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1260,"wires":[["fae677cb.a7e7b8","1f590b65.366f6d"]]},{"id":"1f590b65.366f6d","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"e739772c.116b68","order":1,"width":0,"height":0,"gtype":"gage","title":"Air","label":"mph","format":"{{value}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":1170,"y":1260,"wires":[]},{"id":"45b98de0.5d083c","type":"ui_chart","z":"78d2cf4d.a5d498","name":"Sky RSSI","group":"e739772c.116b68","order":4,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1040,"y":1320,"wires":[[],[]]},{"id":"91d97d74.982b6","type":"function","z":"78d2cf4d.a5d498","name":"get rssi","func":"msg.payload = msg.payload.rssi\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1320,"wires":[["45b98de0.5d083c","21d9317.88fb6ce"]]},{"id":"21d9317.88fb6ce","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"e739772c.116b68","order":3,"width":0,"height":0,"gtype":"gage","title":"Sky","label":"mph","format":"{{value}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":1170,"y":1320,"wires":[]},{"id":"2a95ce6a.08d7d2","type":"ui_chart","z":"78d2cf4d.a5d498","name":"Hub RSSI","group":"e739772c.116b68","order":6,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":260,"y":1260,"wires":[[],[]]},{"id":"ee5d514f.97a218","type":"function","z":"78d2cf4d.a5d498","name":"get rssi","func":"msg.payload = msg.payload.rssi\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":1260,"wires":[["2a95ce6a.08d7d2","d0d15cdf.5ea5c"]]},{"id":"d0d15cdf.5ea5c","type":"ui_gauge","z":"78d2cf4d.a5d498","name":"","group":"e739772c.116b68","order":5,"width":0,"height":0,"gtype":"gage","title":"Hub","label":"mph","format":"{{value}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":390,"y":1260,"wires":[]},{"id":"d6afae7.fbdc55","type":"function","z":"78d2cf4d.a5d498","name":"hub status timestamp","func":"currentTime = msg.payload.timestamp * 1000\nvar now = new Date(currentTime).toLocaleString()\nmsg.payload = now\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1300,"wires":[["b1c7e159.e1bd18"]]},{"id":"b1c7e159.e1bd18","type":"ui_text","z":"78d2cf4d.a5d498","group":"76467e2e.7f74b","order":3,"width":0,"height":0,"name":"","label":"Hub:","format":"{{msg.payload}}","layout":"row-center","x":390,"y":1300,"wires":[]}]